{% extends "../html-base.html" %}

{% block title %}Declaimer & Contact{% endblock title %}

{% block header %}
    {% include "../nav/nav-disclaimer-contact.html" %}
{% endblock header %}

{% block main %}
<article>
    <h1 class="pb-2">Disclaimer & Contact</h1>
    <p class="lead">This website is created as a project and hosted with only limited resources, so if you come across any error messages please let us know by mailing to <a class="text-white" href="mailto:me.dharshan.1@gmail.com">me</a></p>
    <p class="lead">Maybe it takes some time for me to notice that e-mail but, I will try my best.</p>
</article>
{% endblock main %}